<!-- <div class="ui top fixed menu">
  <a class="header item" [routerLink]="['/']">
    Hacker News
  </a>
  <a [ngClass]="newClass" [routerLink]="['/stories/new']">
    New Stories
  </a>
  <a [ngClass]="topClass" [routerLink]="['/stories/top']">
    Top Stories
  </a>
  <a [ngClass]="bestClass" [routerLink]="['/stories/best']">
    Best Stories
  </a>
</div> -->
<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">Hacker News</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li [ngClass]="newClass"><a class="nav-link" [routerLink]="['/stories/new']">New Stories</a></li>
        <li [ngClass]="topClass"><a class="nav-link" [routerLink]="['/stories/top']">Top Stories</a></li>
        <li [ngClass]="bestClass"><a class="nav-link" [routerLink]="['/stories/best']">Best Stories</a></li>
      </ul>
  </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse justify-content-end">
    <a class="navbar-brand" routerLink="/">Hacker News</a>
    <ul class="nav navbar-nav mr-auto">
      <li class="newClass"><a class="nav-link" routerLink="/stories/new">New Stories</a></li>
      <li class="topClass"><a class="nav-link" routerLink="/stories/top">Top Stories</a></li>
      <li class="bestClass"><a class="nav-link" routerLink="/stories/best">Best Stories</a></li>
    </ul>
  </div>
</nav> -->
<!-- <div class="container-fluid"> -->
<nav class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Hacker Board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" data-toggle="collapse"
    data-target=".navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="newClass">
        <a class="nav-link" routerLink="/stories/new">New Stories</a>
      </li>
      <li class="topClass">
        <a class="nav-link" routerLink="/stories/top">Top Stories</a>
      </li>
      <li class="bestClass">
        <a class="nav-link" routerLink="/stories/best">Best Stories</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
  </div>
  <a href="https://www.linkedin.com/in/ankur-sharma-341446b1/" target="_blank">Contact Me</a>
</nav>
<!-- </div> -->
<router-outlet></router-outlet>